@font-face {
  font-family: 'TAN-BUSTER';
  /* src: url('TAN-BUSTER.woff') format('woff'), Modern Browsers */
  src: url(./font/TAN-BUSTER.ttf) format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  background-color: #362624;
}

.App {
  height: 100vh;
  color: #f8f8ff;
  margin: 0em 4em 0em 4em;
  /* border: 1px solid red; */
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5rem; /* Adjust the gap as needed */
  padding: 0em 4em 0em 4em;
}

.col-1 {
  grid-column: span 7;
}

.col-2 {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7em;
}

h1 {
  color: #ffcae0;
  font-family: 'TAN-BUSTER';
  font-size: 185px;
  /* border: 1px solid green; */
  align-items: center;
  line-height: 220px;
}

.tagline {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
}

.home-nav {
  list-style: none;
  font-family: 'TAN-BUSTER';
  font-size: 2rem;
}

.home-nav li {
  color: #f8f8ff;
}

.home-nav li:hover {
  color: #ffcae0;
  cursor: pointer;
}

.social-nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  transform: rotate(-90deg);
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.social-links li {
  color: #f8f8ff;
}

.social-links li:hover {
  color: #ffcae0;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  transform: rotate(-90deg);
}

.copyright {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 20px;
}
